[submodule "structurizr-ui"]
	path = structurizr-ui
	url = https://github.com/Henri-J-Norden/structurizr-ui.git
	branch = main
[submodule "structurizr-lite"]
	path = structurizr-lite
	url = https://github.com/Henri-J-Norden/structurizr-lite.git
	branch = main
